.container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:20px;
    margin: 100px;
    padding-bottom: 100px;
}

.container iframe {
    border-radius: 10px;
    border: none;
    opacity: 0.8;
    transition: opacity 0.2 ease-in-out;
}

.container iframeLhover {
    opacity: 1;
}